* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-clr: rgb(255, 255, 255);
    --main-clr: rgb(171, 213, 1);
    /* --main-clr: rgb(43, 144, 151); */
}

h2 {
    color: var(--white-clr) !important;
}


/* nav .container {
    /* background-color: rgb(0, 0, 0) !important; 
    padding: 4px 20px;
    width: 75%;
    margin: auto;
    transition: all 1s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--main-clr);
} 
*/

body {
    overflow: hidden;
    color: rgb(0, 0, 0);
    background-color: rgb(39, 39, 74);
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0d227e61-fdb7-4a13-b06e-f70dc6007809/dfveey4-e79da916-55d5-4acf-9480-c602244bb3f5.png/v1/fill/w_1600,h_900,q_80,strp/fantasy_wallpaper_03_by_stormbackstrom_dfveey4-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBkMjI3ZTYxLWZkYjctNGExMy1iMDZlLWY3MGRjNjAwNzgwOVwvZGZ2ZWV5NC1lNzlkYTkxNi01NWQ1LTRhY2YtOTQ4MC1jNjAyMjQ0YmIzZjUucG5nIiwiaGVpZ2h0IjoiPD05MDAiLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC8wZDIyN2U2MS1mZGI3LTRhMTMtYjA2ZS1mNzBkYzYwMDc4MDlcL3N0b3JtYmFja3N0cm9tLTQucG5nIiwib3BhY2l0eSI6OTUsInByb3BvcnRpb25zIjowLjQ1LCJncmF2aXR5IjoiY2VudGVyIn19.SqatDgLEeYkK4bVWA14Yqd6egXJr1_idR7u18b3beZk);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

a {
    text-decoration: none;
}

section {
    background-color: rgba(0, 0, 0, 0.767);
}

.contain {
    overflow: hidden;
    width: 80%;
    margin: auto;
    /* background-color: rgba(8, 12, 7, 0.601); */
    color: var(--white-clr);
}

.logo {
    width: 12%;
}

@media screen and (max-width: 768px) {
    .contain {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo {
        width: 35% !important;
    }
}

.imgMe {
    width: 70%;
    border-radius: 5px;
    border-top: 4px solid var(--main-clr);
    border-bottom: 4px solid var(--main-clr);
    border-bottom-left-radius: 200px;
    border-top-right-radius: 5px;
    margin: auto;
}

.home h3::after {
    color: brown;
    content: "|";
    animation: 13s typing infinite;
}

@keyframes typing {
    0% {
        content: "|";
    }
    1% {
        content: "D|";
    }
    2% {
        content: "De|";
    }
    3% {
        content: "Dev|";
    }
    4% {
        content: "Deve|";
    }
    5% {
        content: "Devel|";
    }
    6% {
        content: "Develo|";
    }
    7% {
        content: "Develop|";
    }
    8% {
        content: "Developer|";
    }
    9% {
        content: "Developer|";
    }
    10% {
        content: "Developer|";
    }
    11% {
        content: "Developer|";
    }
    12% {
        content: "Develope|";
    }
    13% {
        content: "Develop|";
    }
    14% {
        content: "Develo|";
    }
    15% {
        content: "Devel|";
    }
    16% {
        content: "Deve|";
    }
    17% {
        content: "Deve|";
    }
    18% {
        content: "Dev|";
    }
    19% {
        content: "De|";
    }
    20% {
        content: "D|";
    }
    21% {
        content: "|";
    }
    22% {
        content: "|";
    }
    23% {
        content: "|";
    }
    24% {
        content: "|";
    }
    25% {
        content: "|";
    }
    26% {
        content: "F|";
    }
    27% {
        content: "Fr|";
    }
    28% {
        content: "Fre|";
    }
    29% {
        content: "Free|";
    }
    30% {
        content: "Freel|";
    }
    31% {
        content: "Freela|";
    }
    32% {
        content: "Freelan|";
    }
    33% {
        content: "Freelanc|";
    }
    34% {
        content: "Freelance|";
    }
    35% {
        content: "Freelancer|";
    }
    36% {
        content: "Freelance|";
    }
    37% {
        content: "Freelanc|";
    }
    38% {
        content: "Freelan|";
    }
    39% {
        content: "Freela|";
    }
    40% {
        content: "Freel|";
    }
    41% {
        content: "Free|";
    }
    42% {
        content: "Fre|";
    }
    43% {
        content: "Fr|";
    }
    44% {
        content: "F|";
    }
    45% {
        content: "|";
    }
    46% {
        content: "p|";
    }
    47% {
        content: "ph|";
    }
    48% {
        content: "pho|";
    }
    49% {
        content: "phot|";
    }
    50% {
        content: "photo|";
    }
    51% {
        content: "photog|";
    }
    52% {
        content: "photogr|";
    }
    53% {
        content: "photogra|";
    }
    54% {
        content: "photograp|";
    }
    55% {
        content: "photograph|";
    }
    56% {
        content: "photographe|";
    }
    57% {
        content: "photographer|";
    }
    58% {
        content: "photographe|";
    }
    59% {
        content: "photograph|";
    }
    70% {
        content: "photograp|";
    }
    71% {
        content: "photogra|";
    }
    72% {
        content: "photogr|";
    }
    73% {
        content: "photog|";
    }
    74% {
        content: "photo|";
    }
    75% {
        content: "phot|";
    }
    76% {
        content: "pho|";
    }
    77% {
        content: "ph|";
    }
    78% {
        content: "p|";
    }
    79% {
        content: "|";
    }
    80% {
        content: "D|";
    }
    81% {
        content: "De|";
    }
    82% {
        content: "Des|";
    }
    83% {
        content: "Desi|";
    }
    84% {
        content: "Desig|";
    }
    85% {
        content: "Design|";
    }
    86% {
        content: "Designe|";
    }
    87% {
        content: "Designer|";
    }
    88% {
        content: "Designer|";
    }
    89% {
        content: "Designe|";
    }
    90% {
        content: "Design|";
    }
    91% {
        content: "Desig|";
    }
    92% {
        content: "Desi|";
    }
    93% {
        content: "Des|";
    }
    94% {
        content: "De|";
    }
    95% {
        content: "D|";
    }
    96% {
        content: "|";
    }
}

span {
    color: var(--main-clr);
}

.contain h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background-color: var(--main-clr);
    position: absolute;
    bottom: 0;
    left: 0;
}

#skills .fa-brands {
    font-size: 50px;
}

.skill {
    border: 2px solid rgba(255, 0, 0, 0.385);
    color: var(--main-clr);
    transition: .4s all;
}

h5 {
    color: var(--white-clr);
    font-weight: 700;
}

button {
    transition: .4s all !important;
}

button:hover {
    background-color: transparent !important;
    border: 1px solid rgba(226, 6, 6, 0.762) !important;
    color: var(--white-clr) !important;
}

.ineer {
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 10px 10px 20px;
}

.ineer a {
    display: none;
    width: 25%;
    margin: auto;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
    top: 48%;
    transform: translateY(-15px);
    transition: .4s all;
    text-decoration: none;
    background-color: rgb(47, 211, 211);
    padding: 4px;
    border: 1px solid rgb(0, 238, 255);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.ineer a:hover {
    background-color: white;
    color: black;
}

.porto-slide h6 {
    letter-spacing: 1px;
    font-size: 16px;
    color: transparent;
    position: relative;
    top: 40%;
    transform: translateY(-15px);
    transition: .7s all;
}

.ineer img {
    border-radius: 10px;
}

.porto-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(0, 10px);
    background-color: transparent;
    transition: .5s all;
}

.porto-slide:hover {
    border: 2px solid transparent;
    transform: translate(0, 0);
    background-color: #f4f80ca1;
    border-radius: 10px;
}

.porto-slide:hover h6 {
    transform: translateY(0px);
    color: #000000;
    display: block;
}

.porto-slide:hover a {
    display: block;
}

.form-control {
    background-color: rgba(225, 215, 215, 0.421);
    color: rgba(255, 255, 255, 0.558);
}

.form-control:hover {
    box-shadow: 1px 1px 15px red;
}

#about .icon {
    width: 40px;
    height: 40px;
    background-color: rgba(77, 89, 80, 0.303);
    padding: 10px;
    border-radius: 50%;
    transition: .5s all;
}

.icon a {
    text-decoration: none;
    color: var(--white-clr);
    transition: .5s all;
}

#about .icon:hover {
    color: black;
    background-color: var(--main-clr);
}

#about .icon:hover a {
    color: black;
}

ul {
    list-style-type: none;
}

@keyframes moveleft {
    0% {
        transform: translate(50%);
    }
    100% {
        transform: translate(0%);
    }
}

@keyframes moveright {
    0% {
        transform: translate(-50%);
    }
    100% {
        transform: translate(0%);
    }
}

.moveleft {
    animation: moveleft 3s;
}

.moveright {
    animation: moveright 3s;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 0px;
}

.iconarrow i {
    color: #000;
    display: none;
    background-color: var(--main-clr);
    border-radius: 50%;
    position: fixed;
    width: 40px;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0px 0 1px;
    bottom: 50px;
    right: 25px;
    height: 40px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.551) !important;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.551) !important;
}

::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.551) !important;
}

.spiner {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: white rgb(255, 255, 255) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent var(--main-clr) var(--main-clr);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.certiImg {
    width: 350px !important;
    border-radius: 10px;
    border-top: 4px solid var(--main-clr);
    border-bottom: 4px solid var(--main-clr);
}


/* nav */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bodi {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    translate: -50%;
    bottom: 20px;
    z-index: 200;
    background: transparent;
}

.navigation {
    width: 450px;
    height: 60px;
    background: #080808f0;
    border: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.navigation ul {
    display: flex;
    width: 400px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 80px;
    font-size: 1.3rem;
    text-align: center;
    transition: 0.5s;
    color: rgb(255, 254, 254);
}

.navigation ul li.active a .icon {
    transform: translateY(-25px);
}

.navigation ul li a .text {
    position: absolute;
    color: white;
    font-weight: 800;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    transform: translateY(15px);
    opacity: 1;
}

.indicator {
    position: absolute;
    top: -44%;
    width: 50px;
    height: 50px;
    background: var(--main-clr);
    border-radius: 50%;
    border: 2px solid white;
    transition: 0.5s;
}


/* .indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
} */

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(10px));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(80px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(75px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(73px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(72.5px * 4));
}

#work,
#about {
    background-color: #000000df;
}